body,
html{
  /* font-family: 'Open Sans', sans-serif; */
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  font-family: 'Quicksand', sans-serif;
}
.appbody,
#app {
  height: 100%;
  width: 100%;
}
.main-content {
  height: 100%;
}

.left-column {
  position: relative;
}

.default-chooser {
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 20px;
}
.header {
  background: black;
  color: white;
  padding: 5px 20px;
  margin: 0;
}

.editor {
  height: 100%;
  width: 600px;
}

.flex {
  display: flex;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#target {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.about-container {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chart-panel-controls {
  align-items: center;
  flex-direction: row-reverse;
  display: flex;
  height: 50px;
  padding-right: 30px;
  width: 100%;
}

.chart-option {
  cursor: pointer;
  margin-right: 20px;
}
.selected-chart-option {
  text-decoration: underline;
}

select {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: #444;
	display: flex;
	font-size: 10px;
	font-weight: 700;
  height: 10px;
  margin: 0;
  text-transform: uppercase;
  text-align-last: right;
	width: 100%;
}
select::-ms-expand {
	display: none;
}
select:focus {
	border-color: #aaa;
	color: #222;
	outline: none;
}
select option {
	font-weight: normal;
  text-transform: none;
}

.error-bar {
  background: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 50px;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
